{% extends 'frontend/master.html' %}
{% load static %}
{% block body %}
<section class="header-content">
    <div class="alignfull relative w-screen max-w-full-screen min-w-full bg-grey-dark h-screen-100 overflow-hidden">
        <div data-id="3qQeIwORo7O0DS5KnSao91" class="">
            <div class="HeroBanner__HeroBannerContainer-sc-3zma67-0 NZzCD">
                <div class="alignfull relative w-screen max-w-full-screen min-w-full bg-grey-dark h-screen-100 overflow-hidden">
                    <video playsinline="" muted="" autoplay="" loop="" class="h-full w-full object-cover z-10 absolute">
                        <source
                            src="https://videos.ctfassets.net/58ml6jlsnfsu/8A1UPGPSG47hdIX8rzQWy/951e0cebc9fca9768dc5c322fbdf2eb8/LOFT___People_First_Design__2_.mp4"
                            type="video/mp4;">
                    </video>
                    <div class="absolute top-0 z-10 w-full h-full bg-grey-overlay opacity-50"></div>
                    <div class="container relative h-full flex justify-center items-center">
                        <div class="mx-auto max-w-screen-md w-full pt-40 pb-10 md:pb-16 lg:pt-48 lg:pb-40 z-20">
                            <div class="text-center {`${contentSize}`}">
                                <h1
                                    class="font-sans uppercase font-bold leading-none text-white text-7xl md:text-9xl p-0 mt-0 mb-1 sm:mb-4 md:mb-4 lg:mb-4 xl:mb-4">
                                    Elevate The Value Of Your Property
                                    <hr class="headingLine">
                                </h1>
                                <h2 class="font-normal text-white text-lg mt-0 mb-0 pt-2 pb-0 pl-0 pr-0">A full service for
                                    residential interiors, designed for property professionals.</h2>
                                <div class="flex flex-col justify-center md:flex-row mt-5 md:mt-10">
                                    <div><a target="_self"
                                            class="Button__ButtonContainer-sc-1d00r4v-0 eoVNJq slideOutline max-w-200px bg-transparent text-white border-2 border-white shadow-white-slide-hidden hover:bg-transparent hover:shadow-white-slide-active hover:text-grey-dark mr-5 ml-5 mb-5 text-sm sans leading-1 uppercase text-center inline-block transition-all duration-500 w-200px pt-3 pb-2 pl-10 pr-10 mt-3 mb-3"
                                            href="/portfolio">Portfolio</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="videoButton mb-5 flex flex-col md:flex-row items-center text-white cursor-pointer group">
                        <div
                            class="bg-white text-black h-10 w-10 rounded-full flex justify-center items-center group-hover:opacity-70">
                            <i class="fa fa-play text-1xl ml-1"></i></div><span
                            class="text-base mt-2 ml-4 mr-4 mt-1 mb-1  font-light group-hover:opacity-80">Watch the full
                            video</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- <video playsinline="" muted="" autoplay="" loop="" class="h-full w-full object-cover z-10 absolute">
        <source
            src="https://videos.ctfassets.net/58ml6jlsnfsu/8A1UPGPSG47hdIX8rzQWy/951e0cebc9fca9768dc5c322fbdf2eb8/LOFT___People_First_Design__2_.mp4"
            type="video/mp4;">
    </video>
    <div class="absolute top-0 z-10 w-full h-full bg-grey-overlay opacity-50" style="background-color: #0000008c;"></div> -->
    <!-- <div class="owl-slider">             

        <div class="item" style="background-image:url({% static 'assets/images/gallery-1.jpg' %})">
            <div class="box">
                <div class="container">
                    <h2 class="title animated h1" data-animation="fadeInDown">Modern furniture theme</h2>
                    <div class="animated" data-animation="fadeInUp">
                        Modern & powerfull template. <br /> Clean design & reponsive
                        layout. Google fonts integration
                    </div>
                    <div class="animated" data-animation="fadeInUp">
                        <a href="https://themeforest.net/item/mobel-furniture-website-template/20382155" target="_blank" class="btn btn-main" ><i class="icon icon-cart"></i> Buy this template</a>
                    </div>
                </div>
            </div>
        </div>                

        <div class="item" style="background-image:url({% static 'assets/images/gallery-2.jpg' %})">
            <div class="box">
                <div class="container">
                    <h2 class="title animated h1" data-animation="fadeInDown">Mobile ready!</h2>
                    <div class="animated" data-animation="fadeInUp">Unlimited Choices. Unbeatable Prices. Free Shipping.</div>
                    <div class="animated" data-animation="fadeInUp">Furniture category icon fonts!</div>
                    <div class="animated" data-animation="fadeInUp">
                        <a href="category.html" class="btn btn-clean">Get insipred</a>
                    </div>
                </div>
            </div>
        </div>                

        <div class="item" style="background-image:url({% static 'assets/images/gallery-3.jpg' %})">
            <div class="box">
                <div class="container">
                    <h2 class="title animated h1" data-animation="fadeInDown">
                        Very Animate.css Friend.
                    </h2>
                    <div class="desc animated" data-animation="fadeInUp">
                        Combine with animate.css. Or just use your own!.
                    </div>
                    <div class="desc animated" data-animation="fadeInUp">
                        Bunch of typography effects.
                    </div>
                    <div class="animated" data-animation="fadeInUp">
                        <a href="https://themeforest.net/item/mobel-furniture-website-template/20382155" target="_blank" class="btn btn-clean">Buy this template</a>
                    </div>
                </div>
            </div>
        </div>

    </div>  -->
</section>

<!--/owl-slider-->
    
<!-- ========================  Icons slider ======================== -->

<section class="owl-icons-wrapper owl-icons-frontpage" style="z-index: 99;">

    <!-- === header === -->

    <header class="hidden">
        <h2>Product categories</h2>
    </header>

    <div class="container">

        <div class="owl-icons">
            <!-- === icon item === -->
            <a href="#">
                <figure>
                    <i class="f-icon f-icon-sofa"></i>
                    <figcaption>Sofa</figcaption>
                </figure>
            </a>
            <!-- === icon item === -->
            <a href="#">
                <figure>
                    <i class="f-icon f-icon-armchair"></i>
                    <figcaption>Armchairs</figcaption>
                </figure>
            </a>
            <!-- === icon item === -->
            <a href="#">
                <figure>
                    <i class="f-icon f-icon-chair"></i>
                    <figcaption>Chairs</figcaption>
                </figure>
            </a>
            <!-- === icon item === -->
            <a href="#">
                <figure>
                    <i class="f-icon f-icon-dining-table"></i>
                    <figcaption>Dining tables</figcaption>
                </figure>
            </a>
            <!-- === icon item === -->
            <a href="#">
                <figure>
                    <i class="f-icon f-icon-media-cabinet"></i>
                    <figcaption>Media storage</figcaption>
                </figure>
            </a>
            <!-- === icon item === -->
            <a href="#">
                <figure>
                    <i class="f-icon f-icon-table"></i>
                    <figcaption>Tables</figcaption>
                </figure>
            </a>
            <!-- === icon item === -->
            <a href="#">
                <figure>
                    <i class="f-icon f-icon-bookcase"></i>
                    <figcaption>Bookcase</figcaption>
                </figure>
            </a>
            <!-- === icon item === -->
            <a href="#">
                <figure>
                    <i class="f-icon f-icon-bedroom"></i>
                    <figcaption>Bedroom</figcaption>
                </figure>
            </a>
            <!-- === icon item === -->
            <a href="#">
                <figure>
                    <i class="f-icon f-icon-nightstand"></i>
                    <figcaption>Nightstand</figcaption>
                </figure>
            </a>
            <!-- === icon item === -->
            <a href="#">
                <figure>
                    <i class="f-icon f-icon-children-room"></i>
                    <figcaption>Children room</figcaption>
                </figure>
            </a>
            <!-- === icon item === -->
            <a href="#">
                <figure>
                    <i class="f-icon f-icon-kitchen"></i>
                    <figcaption>Kitchen</figcaption>
                </figure>
            </a>
            <!-- === icon item === -->
            <a href="#">
                <figure>
                    <i class="f-icon f-icon-bathroom"></i>
                    <figcaption>Bathroom</figcaption>
                </figure>
            </a>
            <!-- === icon item === -->
            <a href="#">
                <figure>
                    <i class="f-icon f-icon-wardrobe"></i>
                    <figcaption>Wardrobe</figcaption>
                </figure>
            </a>
            <!-- === icon item === -->
            <a href="#">
                <figure>
                    <i class="f-icon f-icon-shoe-cabinet"></i>
                    <figcaption>Shoe cabinet</figcaption>
                </figure>
            </a>
            <!-- === icon item === -->
            <a href="#">
                <figure>
                    <i class="f-icon f-icon-office"></i>
                    <figcaption>Office</figcaption>
                </figure>
            </a>
            <!-- === icon item === -->
            <a href="#">
                <figure>
                    <i class="f-icon f-icon-bar-set"></i>
                    <figcaption>Bar sets</figcaption>
                </figure>
            </a>
            <!-- === icon item === -->
            <a href="#">
                <figure>
                    <i class="f-icon f-icon-lightning"></i>
                    <figcaption>Lightning</figcaption>
                </figure>
            </a>
            <!-- === icon item === -->
            <a href="#">
                <figure>
                    <i class="f-icon f-icon-carpet"></i>
                    <figcaption>Varpet</figcaption>
                </figure>
            </a>
            <!-- === icon item === -->
            <a href="#">
                <figure>
                    <i class="f-icon f-icon-accessories"></i>
                    <figcaption>Accessories</figcaption>
                </figure>
            </a>

        </div> <!--/owl-icons-->
    </div> <!--/container-->
</section>


<!-- ========================  Blog Block ======================== -->

<section class="cards">
    <!-- === cards header === -->
    <header>
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <h2 class="title">Design of interiors</h2>                        
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <!-- === item === -->
            <div class="col-md-8">
                <figure>
                    <figcaption style="background-image:url({% static 'assets/images/blog-7.jpg' %})">
                        <img src="{% static 'assets/images/blog-1.jpg' %}" alt="">
                    </figcaption>
                    <a href="#" class="btn btn-clean">Interior design</a>
                </figure>
            </div>
            <!-- === item === -->
            <div class="col-md-4">
                <figure>
                    <figcaption style="background-image:url({% static 'assets/images/blog-2.jpg' %})">
                        <img src="{% static 'assets/images/blog-2.jpg' %}" alt="">
                    </figcaption>
                    <a href="#" class="btn btn-clean">3D Modeling</a>
                </figure>
            </div>
        </div> <!--/row-->
    </div> <!--/container-->
</section>


<!-- ========================  Banner ======================== -->

<section class="banner" style="background-image:url(assets/images/gallery-4.jpg)">
    
</section>

<section class="tabsy-wrapper tabsy-wrapper-frontpage">

    <div class="container-fluid">

        <!-- === header title === -->

   

        <div class="tabsy" style="background-image:url({% static 'assets/images/gallery-1.jpg' %})">

            <!-- === tabsy images === -->

            <div class="tabsy-images">
                {% for parentMenu, childMenus in allMenus.items %}
                <div id="dynamic{{parentMenu.pk}}_{{forloop.counter}}" style="background-image: url({{parentMenu.category_image.url}});" class=""><img src="{{parentMenu.category_image.url}}" alt="Alternate Text"></div>
               {% endfor %} 
            </div>

            <!-- === tabsy links === -->

            <div class="tabsy-links">

                <div class="row">
                    {% for parentMenu, childMenus in allMenus.items %}
                    <figure class=" {% if forloop.counter  == 3 %} col-xs-12 col-md-6 col-sm-3 {% else %}col-xs-6 col-sm-3 col-md-3{% endif %}" data-image="dynamic{{parentMenu.pk}}_{{forloop.counter}}">
                        <a href="" class="link">Anchor link</a>
                        <figcaption>
                            <span class="date">Top Product {{forloop.counter}}</span>
                            <span class="h4 title">{{ parentMenu }}</span>
                            <span class="desc">{{parentMenu.short_detail}}</span>
                        </figcaption>
                    </figure>
                    {% endfor %}

                   
                </div> <!--/row-->
            </div> <!--/tabsy-links-->
        </div> <!--/tabsy-->
    </div> <!--/container-->

</section>

<!-- ========================  Instagram ======================== -->

<section class="instagram">

    <!-- === instagram header === -->

    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8 text-center">
                    <h2 class="h2 title">Follow us <i class="fa fa-instagram fa-2x"></i> Instagram </h2>
                    <div class="text">
                        <p>@InstaFurnitureFactory</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- === instagram gallery === -->

    <div class="gallery clearfix">
        <a class="item" href="#">
            <img src="{% static 'assets/images/square-1.jpg' %}" alt="Alternate Text" />
        </a>
        <a class="item" href="#">
            <img src="{% static 'assets/images/square-2.jpg' %}" alt="Alternate Text" />
        </a>
        <a class="item" href="#">
            <img src="{% static 'assets/images/square-3.jpg' %}" alt="Alternate Text" />
        </a>
        <a class="item" href="#">
            <img src="{% static 'assets/images/square-4.jpg' %}" alt="Alternate Text" />
        </a>
        <a class="item" href="#">
            <img src="{% static 'assets/images/square-5.jpg' %}" alt="Alternate Text" />
        </a>
        <a class="item" href="#">
            <img src="{% static 'assets/images/square-6.jpg' %}" alt="Alternate Text" />
        </a>

    </div> <!--/gallery-->

    <div class="gallery clearfix">
        <a class="item" href="#">
            <img src="{% static 'assets/images/square-1.jpg' %}" alt="Alternate Text" />
        </a>
        <a class="item" href="#">
            <img src="{% static 'assets/images/square-2.jpg' %}" alt="Alternate Text" />
        </a>
        <a class="item" href="#">
            <img src="{% static 'assets/images/square-3.jpg' %}" alt="Alternate Text" />
        </a>
        <a class="item" href="#">
            <img src="{% static 'assets/images/square-4.jpg' %}" alt="Alternate Text" />
        </a>
        <a class="item" href="#">
            <img src="{% static 'assets/images/square-5.jpg' %}" alt="Alternate Text" />
        </a>
        <a class="item" href="#">
            <img src="{% static 'assets/images/square-6.jpg' %}" alt="Alternate Text" />
        </a>

    </div> <!--/gallery-->

</section>
{% endblock %}